<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
            <!-- Preload the Whole Page -->
            <div id="preloader">      
            <div id="loading-animation">&nbsp;</div>
            </div>
        
            <!-- Navbar -->
            <%- include('../partials/header') %>
     <!-- End Navbar -->
    <main class="mainInput">
        <!-- Collection's table to add, modify o delete collection -->
        <div class="tableInput">
            <div class="divTableTitle">
                <h4 class="tableTitle">Coleções</h4>
                <a href="/product/collectionsTable" class="addItemText">Adicionar Coleção &nbsp<i class="fa-solid fa-plus addItem"></i></a>
            </div>
            <table>
                <tr>
                    <th>Coleção nome</th>
                    <th>Detalhe</th>
                    <th>Desconto</th>
                    <th>Ação</th>
                </tr>
                <% collectionItems.forEach((collection) => {%>
                    <tr>
                        <td><%= collection.name  %></td>
                        <td><%= collection.description  %></td>
                        <td><%= collection.collectionDiscount.discount_code %></td>
                        <td class="actionColumn">
                            <% if(collection.deleted_at == null) {%>
                                <a href="/product/collection/update/<%= collection.id%>"><i class="fa-solid fa-pen"></i> Editar</a>
                                &nbsp &nbsp &nbsp
                                <a href="/product/collection/delete/<%= collection.id%>"><i class="fa-solid fa-trash"></i> Eliminar</a>
                            <%} else {%>
                                <a href="/product/collection/restore/<%= collection.id%>">Restaurar</a>
                            <%}%>
                        </td>
                    </tr>
                <%}) %>
            </table>
            <div class="divTableTitle">
                <h4 class="tableTitle">Coleções</h4>
                <a href="/product/collectionsTable" class="addItemText">Adicionar Coleção &nbsp<i class="fa-solid fa-plus addItem"></i></a>
                
            </div>
        </div>
        <!-- Collection's table to add, modify o delete collection -->        
    </main>

     
     <!-- Footer
    ================================================== -->
    <%- include('../partials/footer') %> 
    <!-- End footer -->
     <!-- JS libraries and scripts -->
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-hover-dropdown.min.js"></script>
  <script src="/js/jquery.appear.min.js"></script>
  <script src="/js/jquery.bxslider.min.js"></script>
  <script src="/js/jquery.owl.carousel.min.js"></script>
  <script src="/js/jquery.countTo.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.imagesloaded.min.js"></script>
  <script src="/js/jquery.isotope.js"></script>
  <script src="/js/jquery.placeholder.js"></script>
  <script src="/js/jquery.smoothscroll.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.waypoints.js"></script>
  <script src="/js/jquery.fitvids.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.countdown.js"></script>
  <script src="/js/jquery.navbar-scroll.js"></script>
<!--  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/js/jquery.gmaps.js"></script>  -->
  <script src="/js/main.js"></script>   
</body>
</html>