<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
    <!-- Preload the Whole Page -->
    <div id="preloader">      
    <div id="loading-animation">&nbsp;</div>
    </div>

    <!-- Navbar -->
    <%- include('../partials/header') %>
    <!-- End Navbar -->

    <!-- Main del formulario de edición de Producto -->
    <main class="mainInput">
        <div class="tableInput">
            <form class="tables" action="/product/product/update/<%= productItem.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                <h4>Editar Produto</h4> 
                <div>
                    <% //console.log(productItem)%>
                    <input type="hidden" name="productId" value="<%= productItem.id%>">
                    <input class="form-tablas" type="text" name="productName" value="<%= productItem.name%>"> 
                    <textarea class="form-tablas textarea-tablas" name="detail"><%= productItem.description%></textarea>
                    <div id="divFotos">
                        <p class="imageTitle">Imagens do produto</p>
                        <div id="present-image-preview">
                            <% for ( let i = 0 ; i < productItem.productPhoto.length ; i++) { %>
                                <div id="photoId<%= productItem.productPhoto[i].id %>" class="present-image-container">
                                    <img class="present-image-element" src="<%= productItem.productPhoto[i].product_image %>">
                                    <% console.log(productItem.productPhoto[i].id) %>
                                    <i class="fa fa-trash" onclick="deletePhoto('<%= productItem.productPhoto[i].id %>')"></i>
                                    <input class="deletePhoto" id="idToDelete<%= productItem.productPhoto[i].id %>" name="photoDeleteId" type="hidden" >
                                </div>
                            <%}%>
                        </div>
                        <p class="imageTitle">Adicione mais imagens</p>
                        <div id="inputFotos">
                        </div> 
                    </div>
                    <div>
                        <div class="inputsNumber">
                            <!-- Select para elegir si el producto lleva descuento o no -->
                            <p class="optionsSelect">Coleção</p>
                            <select class="form-tablas" name="collectionSelected" id="collectionTable">
                                <option required>- Coleção -</option>
                                    <!-- Se buscan los valores que completarán las opciones del select en la tabla de colecciones que recibe del controller-->
                                    <% collections.forEach(collection => { %>
                                    <option value="<%= collection.id %>" <% if (collection.id == productItem.collection_id) {%> selected <% } %>><%= collection.name %>
                                     </option>
                                    <% }); %>
                            </select>
                            <!-- End Select-->
                        </div>
    
                        <div class="inputsNumber">
                            <!-- Select para elegir si el producto lleva descuento o no -->
                            <p class="optionsSelect">Desconto</p>
                            <select class="form-tablas" type="number" name="discountSelectedItem" id="discountTable">
                                <option value="" required>- Desconto - </option>
                                    <!-- Se buscan los valores que completarán las opciones del select en la tabla de descuentos que recibe del controller-->
                                    <% discounts.forEach(discount => { %>
                                    <option value="<%= discount.id %>" <% if (discount.id == productItem.discount_id) {%> selected <% } %>><%= discount.discount_code %></option>
                                    <% }); %>
                            </select>
                            <!-- End Select-->
                        </div>
                    </div>
                    <div class="separator">
                        <p></p>
                    </div>

                    
                    <table class="tableProducto">
                        <tr>
                            <th class="columnNumber">It</th>
                            <th class="columnPrize  input-tablas-prize">Preço</th>
                            <th class="columnColor">Cor</th>
                            <th class="columnSize">Tamanho</th>
                            <th class="column Stock input-tablas-stock">Etoque</th>
                            <th class="columnDiscount">Desconto</th>
                            <th class="columnDetail">Detalhes</th>
                            th>
                            <th class="columnDelete">Eliminar</th>
                        </tr>
                        <% //console.log(productItem.Characteristics[0]) %>
                        <% for(i = 1 ; i <= productItem.Characteristics.length ; i++) {%>
                            <tr>
                                <td class="columnNumber"><%= i%></td>
                                <td class="columnPrize">
                                    <input class="form-tablas input-tablas-prize" type="number" name="productPrice" value="<%= productItem.Characteristics[i-1].price%>" placeholder="   Preço do produto">
                                </td>
                                <td class="columnColor"><select class="form-tablas" type="number" name="colorSelected" id="colorTable">
                                    <option value="" required>Cor</option>
                                        <!-- Se buscan los valores que completarán las opciones del select en la tabla de colores que recibe del controller-->
                                        <% colors.forEach(color => { %>
                                        <option value="<%= color.id %>" <% if (color.id == productItem.Characteristics[i-1].color_id) {%> selected <% } %>><%= color.name %></option>
                                        <% }); %>
                                </select></td>
                                <td class="columnSize"><select class="form-tablas" type="number" name="sizeSelected" id="sizeTable">
                                    <option value="" required>Tamanho</option>
                                        <!-- Se buscan los valores que completarán las opciones del select en la tabla de tamaños que recibe del controller-->
                                        <% sizes.forEach(size => { %>
                                        <option value="<%= size.id %>" <% if (size.id == productItem.Characteristics[i-1].size_id) {%> selected <% } %>><%= size.name %></option>
                                        <% }); %>
                                </select></td>
                                <td class="columnStock">
                                    <input class="form-tablas input-tablas-stock" type="number" name="productStock" value="<%= productItem.Characteristics[i-1].stock%>" placeholder="   Etoque de produtos">
                                </td>
                                <td class="columnDiscount"><select class="form-tablas" type="number" name="discountSelected" id="discountTable">
                                    <option value="" required>Desconto</option>
                                        <!-- Se buscan los valores que completarán las opciones del select en la tabla de descuentos que recibe del controller-->
                                        <% discounts.forEach(discount => { %>
                                        <option value="<%= discount.id %>" <% if (discount.id == productItem.Characteristics[i-1].discount_id) {%> selected <% } %>><%= discount.discount_code %></option>
                                        <% }); %>
                                </select></td>
                                <td class="columnDetail">
                                    <textarea id="textareaTabla" class="form-tablas textarea-tablas" name="productDetail" placeholder="detalhes do produto"><%= productItem.Characteristics[i-1].details%></textarea>
                                </td>
                                <td class="columnDelete">
                                    <a href="/product/characteristic/delete/<%= productItem.Characteristics[i -1].id%>"><spam><i class="fa-solid fa-trash"></i> Eliminar</spam></a>
                                </td>
                            </tr>
                        <%}%>
                        
                    </table>
                    <div id="button-add-item">
                        <a><button class="botEnterTablas linkEditar" id="addItemBtn" type="button">Adicionar item</button></a>
                    </div>    
                    <div class="separator">
                        <p></p>
                    </div> 
                <div class="button-div"> 
                    <a href="#"> <button class="botEnterTablas tablasBoton" type="submit">Modificar Produto</button> </a>
                    <a class="linkEditar" href="/product/productItemsTable"> <button class="botEnterTablas" type="button">Ir a Tabela de Produtos</button>  </a>
                </div>
        </form>
    </div>
    <div id="initialData"
        data-discounts="<%= JSON.stringify(discounts) %>"
        data-collections="<%= JSON.stringify(collections) %>"
        data-colors="<%= JSON.stringify(colors) %>"
        data-sizes="<%= JSON.stringify(sizes) %>"
        data-productItem="<%= JSON.stringify(productItem) %>"
    ></div>
        

        
    </main>
    <!-- End main -->
     
     <!-- Footer
    ================================================== -->
    <%- include('../partials/footer') %> 
    <!-- End footer -->
     <!-- JS libraries and scripts -->
  <script>
    function deletePhoto(photoId) {
        const inputPhotoDelete = document.getElementById(`idToDelete${photoId}`)
        inputPhotoDelete.setAttribute("value" , photoId)
        // Eliminar la imagen del DOM
        const photoContainer = document.getElementById(`photoId${photoId}`);
        photoContainer.className = 'hyde'
}
  </script>
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-hover-dropdown.min.js"></script>
  <script src="/js/jquery.appear.min.js"></script>
  <script src="/js/jquery.bxslider.min.js"></script>
  <script src="/js/jquery.owl.carousel.min.js"></script>
  <script src="/js/jquery.countTo.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.imagesloaded.min.js"></script>
  <script src="/js/jquery.isotope.js"></script>
  <script src="/js/jquery.placeholder.js"></script>
  <script src="/js/jquery.smoothscroll.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.waypoints.js"></script>
  <script src="/js/jquery.fitvids.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.countdown.js"></script>
  <script src="/js/jquery.navbar-scroll.js"></script>
<!--  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/js/jquery.gmaps.js"></script>  -->
  <script src="/js/main.js"></script>  
  <script src="/js/productItem.js"></script> 
</body>
</html>