<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <!-- Preload the Whole Page -->
    <div id="preloader">      
        <div id="loading-animation">&nbsp;</div>
    </div>
      <!-- Navbar -->
      <%- include('../partials/header') %>
  <div class="main-registro">
    <div class="leftRegister">
      <section class="copyRegister">
        <h2>Vamos sujar as mãos com amor e terra</h2>
      </section>
    </div>
    <div class="rightRegister">
      <form class="registro" action="/user/register" method="post">
        <section class="copyRegister">
          <h5>nano Made By Hand</h5>  
        </section> 
        <!--esto es para asignar el id de user=2, usuario comun cuando se registre cualquier usuario-->
        <input name="rol" value="2" type="hidden" >             
        <!--************-->      
          <div> 
            <input class="form-usu" type="text" name="name" value="<%= locals.oldData ? oldData.name : null %>" placeholder=" Nome completo">
            <% if(locals.errors && errors.name) { %>
                <p class="errores"> <%= errors.name.msg %> </p>
            <% } %>  
                <p id="errorNombre" class="error"></p>                  
          </div>
          <div>
            <input class="form-usu" type="text" name="email" value="<%= locals.oldData ? oldData.email : null %>" placeholder=" Email">
            <% if(locals.errors && errors.email) { %>
                <p class="errores"> <%= errors.email.msg %> </p>
            <% } %>
                <p id="errorEmail" class="error"></p>
          </div>
          <div>
            <input class="form-usu" type="text" name="address" value="<%= locals.oldData ? oldData.address : null %>" placeholder=" Endereço">
            <% if(locals.errors && errors.name) { %>
                <p class="errores"> <%= errors.name.msg %> </p>
            <% } %>
                <p id="errorDireccion" class="error"></p>
          </div> 
          <div>           
            <div class="input-container password">
              <input class="form-usu" type="password" name="contrasenia" value="" placeholder=" Senha">
              <% if(locals.errors && errors.contrasenia) { %>
                  <p class="errores"> <%= errors.contrasenia.msg %> </p>
              <% } %>
              
              <p id="errorContrasenia" class="error"></p>
            </div>
            <div class="input-container password">
              <input class="form-usu" type="password" name="confirm-contrasenia" value="" placeholder=" Confirmar senha">
              <% if(locals.errors && errors.confirmContrasenia) { %>
                  <p class="errores"> <%= errors.confirmContrasenia.msg %> </p>
              <% } %>
                  <p id="errorConfirmContrasenia" class="error"></p>
            </div>
            <button id="togglePassword" type="button">Mostrar senha</button> 
          </div>
          <div class="erroresRegistro">
            <% if(locals.errors && errors.datosMal) { %>
                <p class="error"> <%= errors.datosMal.msg %> </p>
                <% } %>
                </div>
          <div> 
            <a href="#"> <button id="botonSubmit" class="botEnter" type="submit">Cadastre-se</button> </a>
          </div>              
        </form>
    </div>
  </div>
  <!-- Footer
    ================================================== -->
    <%- include('../partials/footer') %>
    <!-- End footer -->

  </div> <!-- End wrapper -->

  <!-- Back-to-top
  ================================================== -->
  <div class="back-to-top">
    <i class="fa fa-angle-up fa-3x"></i>
  </div> <!-- end back-to-top -->

      
     <!-- End Navbar -->
     <!-- JS libraries and scripts -->
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-hover-dropdown.min.js"></script>
  <script src="/js/jquery.appear.min.js"></script>
  <script src="/js/jquery.bxslider.min.js"></script>
  <script src="/js/jquery.owl.carousel.min.js"></script>
  <script src="/js/jquery.countTo.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.imagesloaded.min.js"></script>
  <script src="/js/jquery.isotope.js"></script>
  <script src="/js/jquery.placeholder.js"></script>
  <script src="/js/jquery.smoothscroll.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.waypoints.js"></script>
  <script src="/js/jquery.fitvids.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.countdown.js"></script>
  <script src="/js/jquery.navbar-scroll.js"></script>
<!--  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/js/jquery.gmaps.js"></script>  -->
  <script src="/js/main.js"></script>
  <script src="/js/register.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
</body>
</html>